.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




#sankey {
  width: 800px;
  height: 600px;
  border: 1px solid black;
}

svg .link {
  opacity: 0.8;
  fill: steelblue;
}

svg .link:hover {
  opacity: 1;
}

svg g.sankey {
  font-size: 10pt;
}

svg .node line {
  stroke-width: 1px;
  stroke: #000;
}

svg .node-type-process line {
  stroke-width: 4px;
  stroke: #888;
}

svg .group rect {
  fill: #eee;
  stroke: #bbb;
  stroke-width: 0.5px;
}

svg .group text {
  fill: #999;
}